[submodule "sub1"]
	path = sub1
	url = ssh://github.com/prack1494/sub1.git
[submodule "sub2"]
	path = sub2
	url = ssh://github.com/prack1494/sub2.git
[submodule "sub3"]
	path = sub3
	url = https://github.com/prack1494/sub3.git
